<?php
$translate = $this->plugin('translate');
?>
<div id="collecting-section" class="section">

    <h3><?php echo $translate('Collected Inputs'); ?></h3>

    <?php if ($inputs = $cItem->inputs()): ?>

    <table class="browse tablesaw" data-tablesaw-mode="stack">
        <thead>
        <tr>
            <th><?php echo $translate('Prompt'); ?></th>
            <th><?php echo $translate('User Input'); ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($inputs as $input): ?>
        <?php
        $prompt = $input->prompt();
        $displayText = $input->displayText();
        if (!in_array($prompt->inputType(), ['item', 'value_suggest'])) {
            $displayText = $this->escapeHtml($displayText);
        }
        ?>
        <tr>
            <td><?php echo $this->escapeHtml($prompt->displayText()); ?></td>
            <td><?php echo nl2br($displayText); ?></td>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>

    <?php endif; ?>

    <h3><?php echo $translate('User Information'); ?></h3>
    <div class="property">
        <h4><?php echo $translate('User name'); ?></h4>
        <div class="value"><?php
        $name = $cItem->displayUserName();
        echo null === $name ? $translate('[not asked]') : $name;
        ?></div>
    </div>
    <div class="property">
        <h4><?php echo $translate('User email'); ?></h4>
        <div class="value"><?php
        $email = $cItem->displayUserEmail();
        echo null === $email ? $translate('[not asked]') : $email;
        ?></div>
    </div>
    <div class="property">
        <h4><?php echo $translate('Anonymous?'); ?></h4>
        <div class="value"><?php
        if (null === $cItem->anon()) {
            echo $translate('[not asked]');
        } elseif ($cItem->anon()) {
            echo $translate('Yes');
        } else {
            echo $translate('No');
        }
        ?></div>
    </div>
    <div class="property">
        <h4><?php echo $translate('Public citation') ?></h4>
        <div class="value"><?php echo $cItem->displayCitation(); ?></div>
    </div>
</div>
