<?php
$prompt = $cInput->prompt();
$displayText = $cInput->displayText();
if (!in_array($prompt->inputType(), ['item', 'value_suggest'])) {
    $displayText = $this->escapeHtml($displayText);
}
?>
<div>
    <h4><?php echo $this->escapeHtml($cInput->prompt()->displayText()); ?></h4>
    <div><?php echo nl2br($displayText); ?></div>
</div>
