<?php
$translate = $this->plugin('translate');

$this->headLink()->appendStylesheet($this->assetUrl('css/collecting.css', 'Collecting'));
echo $this->pageTitle(sprintf($translate('Collecting Form: “%s”'), $cForm->label()));
$itemSetLabel = $cForm->itemSet()
    ? $cForm->itemSet()->displayTitle()
    : $translate('[none]');
?>

<div id="page-actions">
    <?php if ($cForm->userIsAllowed('update')): ?>
    <?php echo $cForm->link($translate('Edit form'), 'edit', ['class' => 'button']); ?>
    <?php endif; ?>
</div>

<div class="breadcrumbs">
    <a href="<?php echo $this->url('admin/site/slug/collecting', [], true); ?>" class="o-icon-left"><?php echo $translate('Back to collecting forms list'); ?></a>
</div>

<nav class="section-nav">
    <?php echo $this->navigation('Zend\Navigation\Collecting')->menu(); ?>
</nav>

<div class="property">
    <h4><?php echo $translate('Label'); ?></h4>
    <div class="value"><?php echo $this->escapeHtml($cForm->label()); ?></div>
</div>

<div class="property">
    <h4><?php echo $translate('Anonymity Type'); ?></h4>
    <div class="value"><?php echo $translate($this->collecting()->anonTypeValue($cForm->anonType())); ?></div>
</div>

<div class="property">
    <h4><?php echo $translate('Item Set'); ?></h4>
    <div class="value"><?php echo $this->escapeHtml($itemSetLabel); ?></div>
</div>

<br>
<h3><?php echo $translate('Prompts'); ?></h3>

<?php if ($prompts = $cForm->prompts()): ?>

<table id="prompts-table" class="browse tablesaw" data-tablesaw-mode="stack">
    <thead>
    <tr>
        <th><?php echo $translate('Type'); ?></th>
        <th><?php echo $translate('Text'); ?></th>
        <th><?php echo $translate('Required?'); ?></th>
        <th><?php echo $translate('Multiple?'); ?></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($prompts as $prompt): ?>
    <tr>
        <td><?php echo $this->escapeHtml($translate($prompt->displayType())); ?></td>
        <td><?php echo $this->escapeHtml($prompt->displayText()); ?></td>
        <td><?php echo $prompt->required() ? $translate('Yes') : $translate('No'); ?></td>
        <td><?php echo $prompt->multiple() ? $translate('Yes') : $translate('No'); ?></td>
    </tr>
    <?php endforeach; ?>
    </tbody>
</table>

<?php else: ?>

<p><?php echo $translate('This form has no prompts.'); ?></p>

<?php endif; ?>
